<div class="dashboard__screen">
  <div class="dashboard_container">
    <div class="dashboard__sidebar">
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 4ham.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 10home.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 9analysis.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 8user.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 7message.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 6settings.png" alt="" />
      </div>
    </div>
    <div class="dashboard__main_screen">
      <div class="main_screen__topbar">
        <div class="main_screen__topbar_left">
          <img src="./assets/11111 1 (1).png" alt="" />
          <span>Welcome, Dominic</span>
        </div>
        <div class="main_screen__topbar_right">
          <!-- <div class="topbar_right__search">
            <input type="text" placeholder="Search something..." />
          </div> -->
          <div class="topbar_right__notification_bell">
            <img src="./assets/icons/Layer 2bell.png" alt="" />
          </div>
          <div class="topbar_right__profile">
            <img src="./assets/icons/image 2.png" alt="" />
            <!-- <span>^</span> -->
          </div>
        </div>
      </div>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <h3>Dashboard</h3>
          <h3>Edit</h3>
        </div>
        <div class="main_container__charts_container">
          <div class="charts_container__chart">
            <app-column-chart></app-column-chart>
          </div>

          <div class="charts_container__chart">
            <app-bar-chart [options]="barChartOptions"></app-bar-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
