<div class="dashboard__screen">
  <div class="dashboard_container">
    <div class="dashboard__sidebar">
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 4ham.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 10home.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 9analysis.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 8user.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 7message.png" alt="" />
      </div>
      <div class="sidebar__icon">
        <img src="./assets/icons/Group 6settings.png" alt="" />
      </div>
    </div>
    <div class="dashboard__main_screen">
      <div class="main_screen__topbar">
        <div class="main_screen__topbar_left">
          <img src="./assets/11111 1 (1).png" alt="" />
          <span>Welcome, Dominic</span>
        </div>
        <div class="main_screen__topbar_right">
          <!-- <div class="topbar_right__search">
            <input type="text" placeholder="Search something..." />
          </div> -->
          <div class="topbar_right__notification_bell">
            <img src="./assets/icons/Layer 2bell.png" alt="" />
          </div>
          <div class="topbar_right__profile">
            <img src="./assets/icons/image 2.png" alt="" />
            <!-- <span>^</span> -->
          </div>
        </div>
      </div>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <h3>Dashboard</h3>
          <!-- <h3>Edit</h3> -->
        </div>
        <div class="main_container__charts_container">
          <div class="charts_container__chart">
            <div class="chart_container_1_div_1">
              <h1>$6.7M</h1>
              <h3>YTD</h3>
              <progress id="file" value="95" max="100">95%</progress>
              <div class="div_1_progress_details">
                <span>95%</span>
                <span>$7M</span>
              </div>
            </div>
            <div class="chart_container_1_div_2">
              <app-column-chart></app-column-chart>
            </div>
            <div class="chart_container_1_div_3">
              <h3>By brand</h3>
              <div class="div_3__progress_container">
                <div class="progress_container__progress_detail">
                  <span>Brand 1</span>
                  <span>$4.5M</span>
                </div>
                <progress id="file" value="95" max="100">95%</progress>
              </div>
              <div class="div_3__progress_container">
                <div class="progress_container__progress_detail">
                  <span>Brand 2</span>
                  <span>$0.2M</span>
                </div>
                <progress id="file" value="25" max="100">25%</progress>
              </div>
              <div class="div_3__progress_container">
                <div class="progress_container__progress_detail">
                  <span>Brand 3</span>
                  <span>$1.2M</span>
                </div>
                <progress id="file" value="55" max="100">55%</progress>
              </div>
              <div class="div_3__progress_container">
                <div class="progress_container__progress_detail">
                  <span>Brand 4</span>
                  <span>$0.7M</span>
                </div>
                <progress id="file" value="15" max="100">15%</progress>
              </div>
            </div>
          </div>

          <div class="charts_container__chart">
            <div class="chart_container_2_div_1">
              <h2>Orders</h2>

              <div class="div_1__orders_detail">
                <h1>$7.1M</h1>
                <h3>YTD</h3>
                <span>v LY</span>
              </div>

              <div class="div_1__orders_detail">
                <h1>$1.02M</h1>
                <h3>YTD</h3>
                <span>Total order book</span>
              </div>
            </div>
            <div class="chart_container_2_div_2">
              <app-bar-chart [options]="barChartOptions"></app-bar-chart>
            </div>
            <div class="chart_container_2_div_3">
              <div class="div_3__info">
                <h3>Opps at 90%</h3>
                <div class="info__detail">
                  <span>23</span>
                  <span>$264K</span>
                </div>
              </div>
              <div class="div_3__info">
                <h3>Opps at 90%</h3>
                <div class="info__detail">
                  <span>23</span>
                  <span>$264K</span>
                </div>
              </div>
              <div class="div_3__info">
                <h3>Opps at 90%</h3>
                <div class="info__detail">
                  <span>23</span>
                  <span>$264K</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
