$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;

.dashboard__screen {
  background: var(--primary-background-1);

  .dashboard_container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .dashboard__main_screen {
      flex: 1;
      background: var(--primary-background-2);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      box-shadow: var(--primary-boxshadow);
      width: 1292px;
      // border-radius: 6px;

      .main_screen__main_container {
        // border: 1px solid red;
        flex: 1;
        margin: 10px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;

        .main_container__heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          h3 {
            font-size: 30px;
            font-weight: 700;
            color: var(--primary-color-1);
          }
        }

        .main_container__charts_container {
          border-radius: 10px;
          background: var(--primary-background-3);
          box-shadow: var(--primary-boxshadow);
          display: flex;
          // justify-content: center;
          flex-wrap: wrap;
          @media (max-width: $mobile) {
            flex-direction: column;
          }

          .charts_container__chart {
            flex: 1;
            margin: 20px;
            box-shadow: var(--primary-boxshadow);
            min-width: calc(50% - 40px);
            max-width: calc(50% - 40px);

            @media (max-width: $mobile) {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
