@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.dashboard__screen {
  height: 100vh;
  background: #e7131a;

  .dashboard_container {
    width: 100%;
    height: 100%;
    display: flex;

    .dashboard__sidebar {
      width: 60px;
      height: 100%;
      //   border: 1px solid white;
      display: flex;
      flex-direction: column;
      align-items: center;

      .sidebar__icon {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        // &:hover {
        //   background: #fff;
        //   border-radius: 10px;
        // }
        img {
          width: 16px;
          height: 17px;
          object-fit: contain;
        }
      }
    }

    .dashboard__main_screen {
      flex: 1;
      background: #f2f2f2;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
      width: 1292px;
      // border-radius: 6px;

      .main_screen__topbar {
        // border: 1px solid rgb(3, 2, 2);
        border-bottom: 1px solid #ccc;
        height: 80px;
        display: flex;
        border-top-left-radius: 20px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .main_screen__topbar_left {
          display: flex;
          align-items: center;
          margin: 10px;
          img {
            width: 90px;
            height: 48px;
            border-top-left-radius: 20px;
            padding-right: 15px;
            margin: 15px;
            border-right: 1px solid #ccc;
            object-fit: contain;
          }

          span {
            color: #817979;
          }
        }

        .main_screen__topbar_right {
          display: flex;
          align-items: center;
          margin: 10px;

          .topbar_right__search {
            display: flex;
            align-items: center;

            input {
              border: none;
              outline: none;
              padding: 10px;
              border-radius: 10px;
              margin-right: 10px;
              background: transparent;
              width: 200px;
              cursor: pointer;
            }
          }

          .topbar_right__notification_bell {
            width: 25px;
            height: 25px;
            margin: 10px;
            cursor: pointer;
            img {
              object-fit: contain;
              height: 100%;
              width: 100%;
            }
          }

          .topbar_right__profile {
            width: 25px;
            height: 25px;
            margin: 10px;
            cursor: pointer;
            img {
              object-fit: contain;
              height: 100%;
              width: 100%;
            }
          }
        }
      }

      .main_screen__main_container {
        // border: 1px solid red;
        flex: 1;
        margin: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .main_container__heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
        }

        .main_container__charts_container {
          //   border: 1px solid blue;
          flex: 1;
          border-radius: 10px;
          background: #fff;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          display: flex;
          flex-direction: column;
          .charts_container__chart {
            flex: 1;
            // border: 1px solid pink;
            display: flex;
            margin: 10px;
            border-radius: 10px;
            justify-content: space-evenly;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          }
        }
      }
    }
  }
}
