<app-custom-guitar-loader *ngIf="loader"></app-custom-guitar-loader>

<div *ngIf="showChangeModal">
  <app-custom-modal>
    <ngb-datepicker
      #dp
      [displayMonths]="1"
      [dayTemplate]="t"
      outsideDays="hidden"
    >
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
      <span class="custom-day" [class.focused]="focused">
        {{ date.day }}
      </span>
    </ng-template>
    <div class="custom_value__buttons">
      <button class="cancel" (click)="toggleChangeModal()">Cancel</button>
      <button class="apply">Apply</button>
    </div>
  </app-custom-modal>
</div>

<div class="dashboard__screen">
  <div class="dashboard_container">
    <div class="dashboard__main_screen">
      <!-- header -->
      <app-custom-header
        (onDateChanged)="onGlobalDateRangeChanged($event)"
        (onRangeSelect)="onRangeSelect($event)"
        [fullDate]="fullDate"
        [showDateRangePicker]="true"
      ></app-custom-header>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <h3>Dashboard</h3>
          <!-- <h3>Edit</h3> -->
        </div>
        <div class="main_container__charts_container">
          <app-column-chart *ngIf="showColChart"></app-column-chart>
          <app-bar-chart *ngIf="showBarChart"></app-bar-chart>
          <app-pie-chart *ngIf="showPieChart"></app-pie-chart>
          <app-line-chart *ngIf="showLineChart"></app-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>
