<div *ngIf="showChangeModal">
  <app-custom-modal>
    <ngb-datepicker
      #dp
      [displayMonths]="1"
      [dayTemplate]="t"
      outsideDays="hidden"
    >
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
      <span class="custom-day" [class.focused]="focused">
        {{ date.day }}
      </span>
    </ng-template>
    <div class="custom_value__buttons">
      <button class="cancel" (click)="toggleChangeModal()">Cancel</button>
      <button class="apply">Apply</button>
    </div>
  </app-custom-modal>
</div>

<div class="sales__screen">
  <div class="sales_container">
    <div class="sales__main_screen">
      <!-- header -->
      <app-custom-header
        (onDateChanged)="onGlobalDateRangeChanged($event)"
        (changeDate)="changeDate($event)"
        (onRangeSelect)="onRangeSelect($event)"
        [fullDate]="fullDate"
        [showDateRangePicker]="true"
      ></app-custom-header>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <div class="heading_container">
            <h3>Sales</h3>
            <div class="view_selection_container">
              <fa-icon
                [icon]="faEllipsisVertical"
                class="icon"
                (click)="toggleViewSelectContainer()"
              ></fa-icon>
              <div class="view__options" *ngIf="isViewSelectContainerOpen">
                <div class="view_option" routerLink="/area-chart">Detailed</div>
                <div class="view_option" routerLink="/org-chart">Flowchart</div>
              </div>
            </div>
          </div>
          <!-- <h3>Edit</h3> -->
        </div>
        <div class="main_container__charts_container">
          <div class="charts_container__chart">
            <div class="chart_container_1_div_1">
              <h1>${{ originalOrdersTotalTodayAbbr }}</h1>
              <h3>{{ fullDate === todaysDate ? "Today" : fullDate }}</h3>
              <app-custom-progress-bar
                [customGoalProgress]="customGoalProgress"
              ></app-custom-progress-bar>
              <div class="div_1_progress_details">
                <span>{{ customGoalProgress }}</span>

                <div class="div_1_progress_details__date_change">
                  <span (dblclick)="makeEditable()" *ngIf="!isEditable">
                    ${{ customGoalAbbr }}
                  </span>
                  <input
                    type="number"
                    (ngModel)="(customGoal)"
                    value="{{ customGoal }}"
                    *ngIf="isEditable"
                    (blur)="makeNonEditable()"
                    (change)="setCustomGoal($event)"
                  />
                  <!-- <fa-icon
                    [icon]="faCalendar"
                    class="icon"
                    (click)="toggleChangeModal()"
                  ></fa-icon> -->
                  <fa-icon
                    [icon]="faCalendar"
                    class="icon"
                    class="date-selector-input-box"
                    (click)="dp.toggleCalendar()"
                    angular-mydatepicker
                    [options]="myDpOptions"
                    (dateChanged)="onDateChanged($event)"
                    #dp="angular-mydatepicker"
                  ></fa-icon>
                </div>
              </div>
            </div>
            <div class="chart_container_1_div_2">
              <div class="select_chart_type">
                <app-custom-select
                  (onSelectChartChange)="onSelectChartChange($event)"
                  [selectIcon]="faChartLine"
                  [options]="chartTypeOptions"
                ></app-custom-select>
              </div>
              <app-bar-chart *ngIf="selectedChart == 'bar'"></app-bar-chart>
              <app-column-chart
                *ngIf="selectedChart == 'column'"
              ></app-column-chart>
              <app-pie-chart *ngIf="selectedChart == 'pie'"></app-pie-chart>
              <app-custom-table
                *ngIf="selectedChart == 'table'"
              ></app-custom-table>
            </div>
          </div>

          <div class="charts_container__chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
