.custom-select {
  position: relative;
  display: inline-block;
}

.select-button {
  outline: 0;
  box-shadow: none;
  border: 0;
  margin-right: 15px;
  border-bottom: 1px solid var(--primary-color-3);
  background: transparent;
  background-image: none;
  flex: 1;
  color: var(--primary-color-1);
  cursor: pointer;
  font-size: 1em;
}

.selected-option {
  flex-grow: 1;
}

.options-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--primary-background-2);
  color: var(--primary-color-1);
  width: 100px;
  overflow: visible;
  border-radius: 10px;
}

.icon {
  margin: 0 10px;
  font-size: 20px;
}

.icon-main {
  color: var(--primary-color-3);
}

.option {
  padding: 0.5rem;
  cursor: pointer;
}

.option:hover {
  background-color: var(--primary-background-3);
  color: var(--primary-color-1);
}
