// .male {
//   background-color: green;
// }

// .female {
//   background-color: pink;
// }

.dashboard__screen {
  min-height: 100vh;
  background: var(--primary-background-1);

  .dashboard_container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .dashboard__main_screen {
      flex: 1;
      background: var(--primary-background-2);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
      width: 1292px;
      .main_screen__main_container {
        margin: 10px;
        padding: 10px 15px;

        .main_container__heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          h3 {
            font-size: 30px;
            font-weight: 700;
            color: var(--primary-color-1);
          }
        }

        .main_container__charts_container {
          .loader-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
          }

          .loader {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
          }

          .loader::after {
            content: "";
            display: block;
            border-radius: 50%;
            width: 0;
            height: 0;
            margin: 6px;
            box-sizing: border-box;
            border: 32px solid #000;
            border-color: #000 transparent #000 transparent;
            animation: loader 1.2s infinite;
          }

          @keyframes loader {
            0% {
              transform: rotate(0deg);
              opacity: 1;
            }
            100% {
              transform: rotate(360deg);
              opacity: 0;
            }
          }
          .org_chart__node {
            color: var(--primary-color-1);
            background: var(--primary-background-3);
            border-radius: 5%;
            min-width:100px ;
            min-height: 80px;
            padding: 15px;
            // transform: rotate(90deg);
            display: flex;
            flex-direction: column;
            // min-height: 60px;
            // min-width: 60px;

            justify-content: center;
            align-items: center;
            span {
              color: var(--primary-color-3);
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep .chart_node {
  background: var(--primary-background-3);
  color: var(--primary-color-1);
  border-radius: 5%;
  padding: 5px;
  border: 2px solid var(--primary-color-1);
}
