// .male {
//   background-color: green;
// }

// .female {
//   background-color: pink;
// }

.dashboard__screen {
  min-height: 100vh;
  background: var(--primary-background-1);

  .dashboard_container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .dashboard__main_screen {
      flex: 1;
      background: var(--primary-background-2);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
      width: 1292px;
      .main_screen__main_container {
        margin: 10px;
        padding: 10px 15px;

        .main_container__heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          h3 {
            font-size: 30px;
            font-weight: 700;
            color: var(--primary-color-1);
          }
        }

        .main_container__charts_container {
          .org_chart__node {
            background: var(--primary-background-3);
            color: var(--primary-color-1);
            padding: 15px;
          }
        }
      }
    }
  }
}

:host ::ng-deep .chart_node {
  background: var(--primary-background-3);
  color: var(--primary-color-1);
  padding: 5px;
}
