.org_chart__screen {
  min-height: 100vh;
  background: var(--primary-background-1);

  .org_chart_container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .org_chart__main_screen {
      flex: 1;
      background: var(--primary-background-2);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
      width: 1292px;
      .main_screen__main_container {
        margin: 10px;
        padding: 10px 15px;

        .main_container__heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .heading__flexbox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              font-size: 18px;
              font-weight: 500;
              color: var(--primary-color-3);
              cursor: pointer;
            }

            h3 {
              font-size: 30px;
              font-weight: 700;
              color: var(--primary-color-1);
            }
          }
        }

        .main_container__charts_container {
          .org_chart__node {
            color: var(--primary-color-1);
            background: var(--primary-background-3);
            border-radius: 5%;
            min-width: 100px;
            min-height: 80px;
            padding: 15px;
            // transform: rotate(90deg);
            display: flex;
            flex-direction: column;
            // min-height: 60px;
            // min-width: 60px;

            justify-content: center;
            align-items: center;
            span {
              color: var(--primary-color-3);
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep .chart_node {
  background: var(--primary-background-3);
  color: var(--primary-color-1);
  border-radius: 5%;
  padding: 5px;
  border: 1px solid var(--primary-color-1);
}

:host ::ng-deep .p-organizationchart .p-organizationchart-line-left {
  border-color: var(--primary-color-1);
}
:host ::ng-deep .p-organizationchart .p-organizationchart-line-right {
  border-color: var(--primary-color-1);
}

:host ::ng-deep .p-organizationchart .p-organizationchart-line-down {
  background: var(--primary-color-1);
}
