<div class="dashboard__screen">
  <div class="dashboard_container">
    <app-sidebar></app-sidebar>
    <div class="dashboard__main_screen">
      <!-- header -->
      <app-custom-header></app-custom-header>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <h3>Organization Chart</h3>

        </div>
        <div class="main_container__charts_container">




        </div>
      </div>
    </div>
  </div>
</div>

<p-organizationChart [value]="data">
  <ng-template let-node pTemplate="person">
    <div class="p-2 text-center" [ngClass]="{'male': node.data.gender === 'male', 'female': node.data.gender === 'female'}">
      <img [src]="node.data.image"  />
      <div class="font-bold">{{ node.data.name }}</div>
      <div>{{ node.data.title }}</div>
    </div>
  </ng-template>
</p-organizationChart>




