<div class="chart_container__left">
  <div class="left__header">
    <h3>Sales</h3>

    <div class="search_or_select_container">
      <div class="search_container">
        <input type="text" placeholder="Search..." />
      </div>
      <app-custom-select
        [selectIcon]="faClock"
        [options]="intervalsList"
      ></app-custom-select>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th
          (click)="headerClickHandler('id')"
          [ngClass]="{ selected: selectedColumnHeader === 'id' }"
        >
          ID
        </th>
        <th
          (click)="headerClickHandler('name')"
          [ngClass]="{ selected: selectedColumnHeader === 'name' }"
        >
          Name
        </th>
        <th
          (click)="headerClickHandler('age')"
          [ngClass]="{ selected: selectedColumnHeader === 'age' }"
        >
          Age
        </th>
        <th
          (click)="headerClickHandler('custom')"
          [ngClass]="{ selected: selectedColumnHeader === 'custom' }"
        >
          Custom
        </th>
        <th
          (click)="headerClickHandler('data')"
          [ngClass]="{ selected: selectedColumnHeader === 'data' }"
        >
          Data
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td [ngClass]="{ selected: selectedColumnHeader === 'id' }">
          {{ row.id }}
        </td>
        <td [ngClass]="{ selected: selectedColumnHeader === 'name' }">
          {{ row.name }}
        </td>
        <td [ngClass]="{ selected: selectedColumnHeader === 'age' }">
          {{ row.age }}
        </td>
        <td [ngClass]="{ selected: selectedColumnHeader === 'custom' }">
          {{ row.custom }}
        </td>
        <td [ngClass]="{ selected: selectedColumnHeader === 'data' }">
          {{ row.data }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
