.chart_container__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: var(--primary-boxshadow);

  .left__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .search_container {
      display: flex;
      align-items: center;
      margin-right: 20px;

      input {
        border: none;
        outline: none;
        padding: 10px;
        background: transparent;
        width: 200px;
        color: var(--primary-color-1);
        cursor: pointer;
        border-bottom: 1px solid var(--primary-background-1);
      }
    }
    .search_or_select_container {
      display: flex;
      align-items: center;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    flex: 1;  th {
      font-weight: bold;
      text-align: left;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding: 16px;
      cursor: pointer;
    }

    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      padding: 16px;
    }

    tr:hover {
      background-color: var(--primary-background-3);
    }

  }


  .selected {
    background-color: var(--primary-background-3);
  }
}
