<app-custom-guitar-loader *ngIf="loader"></app-custom-guitar-loader>
<div class="org_chart__screen">
  <div class="org_chart_container">
    <div class="org_chart__main_screen">
      <!-- header -->
      <app-custom-header
        (onDateChanged)="onGlobalDateRangeChanged($event)"
        (changeDate)="changeDate($event)"
        (onRangeSelect)="onRangeSelect($event)"
        [fullDate]="fullDate"
        [showDateRangePicker]="true"
      ></app-custom-header>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <div class="heading__flexbox">
            <h3>Sales flow</h3>
            <span routerLink="/sales">
              <fa-icon [icon]="faCaretLeft"></fa-icon>
              Back to Sales</span
            >
          </div>
        </div>
        <div class="main_container__charts_container">
          <div class="loader-container" *ngIf="loader">
            <div class="loader"></div>
          </div>
          <p-organizationChart
            [value]="data"
            (onNodeExpand)="expandNode($event)"
          >
            <!-- selectionMode="single" -->
            <ng-template let-node pTemplate="person">
              <div
                class="org_chart__node"
                [style]="{
                  width: node.data.width * 4 + 'px',
                  height: node.data.width * 4 + 'px',
                  background: node.data.color
                }"
              >
                <!-- <div>{{ node.data.name }}</div> -->
                <h3>{{ node.data.value }}</h3>
                <p>{{ node.data.width * 2 + "%" }}</p>
                <span>{{ node.data.title }}</span>
              </div>
            </ng-template>
          </p-organizationChart>
        </div>
      </div>
    </div>
  </div>
</div>
