<app-custom-guitar-loader *ngIf="loader"></app-custom-guitar-loader>
<div class="us_chart__screen">
  <div class="us_chart_container">
    <div class="us_chart__main_screen">
      <app-custom-header
        (onDateChanged)="onGlobalDateRangeChanged($event)"
        (changeDate)="changeDate($event)"
        (onRangeSelect)="onRangeSelect($event)"
        [fullDate]="fullDate"
        [showDateRangePicker]="true"
      ></app-custom-header>
      <div class="main_container__heading">
        <div class="heading__flexbox">
          <h3>Sales - By Region</h3>
          <button (click)="toggleShowThresholdsModal()">Set Thresholds</button>
        </div>
      </div>
      <div class="us_chart_container">
        <highcharts-chart
          id="container"
          [Highcharts]="Highcharts"
          [constructorType]="chartConstructor"
          [options]="chartOptions"
          *ngIf="chartOptions"
          #chartContainer
          style="flex: 3; height: 80%"
          class="map__container"
        >
        </highcharts-chart>
        <div class="table__container">
          <table class="table">
            <thead>
              <tr>
                <th *ngFor="let column of columns">
                  {{ column }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredData">
                <td>{{nameMap(row[0])}}</td>
                <td>{{ row[1] | shortNumber }}</td>
                <td>{{ row[3] | shortNumber }} Orders</td>
                <td>{{ row[2] }} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="timeseries__container" *ngIf="showThresholdsModal">
  <div class="overlay" (click)="toggleShowThresholdsModal()"></div>
  <div class="modal">
    <div class="thresholds__container">
      <div class="thresholds__header">
        <h1>Thresholds</h1>
        <fa-icon
          [icon]="faTimes"
          class="icon"
          (click)="toggleShowThresholdsModal()"
        ></fa-icon>
      </div>
      <div class="thresholds">
        <div class="threshold">
          <label for="High">High: </label>
          <input
            type="number"
            name="High"
            placeholder="Enter High"
            [value]="userThresholds.tsone"
            (input)="changeThreshold($event, 1)"
          />
        </div>
        <div class="threshold">
          <label for="Medium">Medium: </label>
          <input
            type="number"
            name="Medium"
            placeholder="Low Medium"
            [value]="userThresholds.tstwo"
            (input)="changeThreshold($event, 2)"
          />
        </div>
        <div class="threshold">
          <label for="Low">Low: </label>
          <input
            type="number"
            name="Low"
            placeholder="Enter Low"
            [value]="userThresholds.tsthree"
            (input)="changeThreshold($event,3)"
          />
        </div>
      </div>
      <p>Remaining states: <span>{{statesRemaingingForThreshold}}</span></p>
      <button (click)="saveThresholds()" [disabled]="disableThresholdSaveButton">Save and run</button>
      <!-- <span>{{ savethresholdMessage }}</span> -->
    </div>
  </div>
</div>
