<app-custom-guitar-loader *ngIf="loader"></app-custom-guitar-loader>
<div class="us_chart__screen">
  <div class="us_chart_container">
    <div class="us_chart__main_screen">
      <app-custom-header
        (onDateChanged)="onGlobalDateRangeChanged($event)"
        (changeDate)="changeDate($event)"
        (onRangeSelect)="onRangeSelect($event)"
        [fullDate]="fullDate"
        [showDateRangePicker]="true"
      ></app-custom-header>
      <div class="main_container__heading">
        <div class="heading__flexbox">
          <h3>Sales - By Region</h3>
          <button (click)="toggleShowTresholdsModal()">Set Tresholds</button>
        </div>
      </div>
      <div class="us_chart_container">
        <highcharts-chart
          id="container"
          [Highcharts]="Highcharts"
          [constructorType]="chartConstructor"
          [options]="chartOptions"
          *ngIf="chartOptions"
          #chartContainer
          style="flex: 3; height: 80%"
          class="map__container"
        >
        </highcharts-chart>
        <div class="table__container">
          <table class="table">
            <thead>
              <tr>
                <th *ngFor="let column of columns">
                  {{ column }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredData">
                <td>{{stateNamesMap[row[0].split('-')[1]]  }}</td>
                <td>{{ row[1] | shortNumber }}</td>
                <td>{{ row[3] | shortNumber }} Orders</td>
                <td>{{ row[2] }} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="timeseries__container" *ngIf="showTresholdsModal">
  <div class="overlay" (click)="toggleShowTresholdsModal()"></div>
  <div class="modal">
    <div class="tresholds__container">
      <div class="tresholds__header">
        <h1>Tresholds</h1>
        <fa-icon
          [icon]="faTimes"
          class="icon"
          (click)="toggleShowTresholdsModal()"
        ></fa-icon>
      </div>
      <div class="tresholds">
        <div class="treshold">
          <label for="treshold_1">Treshold 1: </label>
          <input
            type="number"
            name="treshold_1"
            placeholder="Enter treshold 1"
            [value]="userTresholds.tsone"
            (input)="changeTreshold($event, 1)"
          />
        </div>
        <div class="treshold">
          <label for="treshold_2">Treshold 2: </label>
          <input
            type="number"
            name="treshold_2"
            placeholder="Enter treshold 2"
            [value]="userTresholds.tstwo"
            (input)="changeTreshold($event, 2)"
          />
        </div>
        <div class="treshold">
          <label for="treshold_3">Treshold 3: </label>
          <input
            type="number"
            name="treshold_3"
            placeholder="Enter treshold 3"
            [value]="userTresholds.tsthree"
            (input)="changeTreshold($event,3)"
          />
        </div>
      </div>
      <p>Remaining states: <span>{{statesRemaingingForTreshold}}</span></p>
      <button (click)="saveTresholds()">Save and run</button>
      <!-- <span>{{ savetresholdMessage }}</span> -->
    </div>
  </div>
</div>
