.chart_container__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: var(--primary-boxshadow);

  .left__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .search_container {
      display: flex;
      align-items: center;
      margin-right: 20px;

      input {
        border: none;
        outline: none;
        padding: 10px;
        background: transparent;
        width: 200px;
        color: var(--primary-color-1);
        cursor: pointer;
        border-bottom: 1px solid var(--primary-background-1);
      }
    }
    .search_or_select_container {
      display: flex;
      align-items: center;

      button {
        border: none;
        outline: none;
        padding: 10px;
        background: transparent;
        color: var(--primary-color-1);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover .icon {
          color: var(--primary-color-1);
        }
        .icon {
          font-size: 20px;
          color: var(--primary-color-3);
        }
      }

      .view_selection_container {
        position: relative;
        z-index: 500000;

        .view__options {
          border-radius: 10px;
          border-top-right-radius: 0;
          box-shadow: var(--primary-boxshadow);
          width: max-content;
          background-color: var(--primary-background-1);
          position: absolute;
          top: 30px;
          right: 20px;
          height: 800px;

          overflow-x: hidden;
          overflow-y: scroll;
          padding: 0;

          button {
            width: 100%;
            padding: 10px;
            margin: 5px;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: transparent;
            text-align: center;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
              background-color: var(--primary-background-2);
            }
          }

          &::-webkit-scrollbar {
            height: 5px;
          }

          // &::-webkit-scrollbar-thumb {
          //   background-color: var(--primary-background-2);
          // }

          .view_option {
            padding: 10px;
            border-radius: 10px;
            margin: 5px;
            display: flex;
            align-items: center;

            &:hover {
              background-color: var(--primary-background-2);
              cursor: pointer;
            }

            &:hover span {
              color: var(--primary-color-1);
            }

            span {
              color: #fff;
            }

            input[type="checkbox"] {
              width: 20px;
              height: 20px;
              background-color: #fff;
              border-radius: 10px;
              cursor: pointer;
              margin-right: 10px;
              border: none;
              outline: none;

              &:checked {
                border: none;
                outline: none;
              }
            }
          }
        }
      }

      .icon {
        font-size: 25px;
        margin-left: 15px;
        padding: 5px;
        &:hover {
          color: var(--primary-color-3);
          cursor: pointer;
        }
      }
    }
  }

  .table_container {
    width: 100%;
    height: 800px;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0;

    &::-webkit-scrollbar {
      height: 5px;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      overflow-x: scroll;

      th {
        font-weight: bold;
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 16px;
        cursor: pointer;
        min-width: 300px;
      }

      td {
        min-width: 300px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 16px;
      }

      tr:hover {
        background-color: var(--primary-background-3);
      }
    }
  }

  .selected {
    background-color: var(--primary-background-3);
  }
}
