<app-custom-guitar-loader *ngIf="loader"></app-custom-guitar-loader>

<div class="chart_container__left">
  <!-- <div class="custom__query">
    <input
      type="text"
      placeholder="Enter a query"
      (change)="onQueryChange($event)"
    />
    <button (click)="getQueryData()">Query</button>
  </div> -->
  <div class="left__header">
    <h3>Sales</h3>

    <div class="search_or_select_container">
      <div class="search_container">
        <input
          type="text"
          placeholder="Search..."
          (input)="onSearchChange($event)"
        />
      </div>
      <!-- <app-custom-select
        [selectIcon]="faClock"
        [options]="intervalsList"
      ></app-custom-select> -->
      <app-custom-select
        [selectIcon]="faTableCells"
        [options]="tables"
        (onSelectChartChange)="onSelectTableChange($event)"
      ></app-custom-select>
      <button (click)="exportToExcel()">
        <fa-icon [icon]="faFileExport" class="icon"></fa-icon>
        <!-- Export Data -->
      </button>
      <div class="view_selection_container">
        <fa-icon
          [icon]="faEllipsisVertical"
          class="icon"
          (click)="toggleViewSelectContainer()"
        ></fa-icon>
        <div class="view__options" *ngIf="isViewSelectContainerOpen">
          <button (click)="selectOrUnselectAllColumns()">
            {{ selectAll ? "Unselect All" : "Select All" }}
          </button>
          <div class="view_option" *ngFor="let column of columnsData">
            <input
              type="checkbox"
              name="{{ column.name }}"
              [checked]="column.isSelected"
              (click)="onColumnSelectChange(column.name)"
            />
            <span> {{ column.name }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table_container">
    <table>
      <thead>
        <tr>
          <th
            *ngFor="let column of columns"
            (click)="headerClickHandler(column)"
            [ngClass]="{ selected: xColumn === column || yColumn === column }"
          >
            {{ column }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredData">
          <td
            *ngFor="let column of row"
            [ngClass]="{
              selected: selectedColumnHeader === column ? column : ''
            }"
          >
            {{ column ? column : ("null" | json) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
