.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    border-radius: 15px;
    background-color: var(--primary-background-3);
    margin: 15% auto;
    padding: 20px;
    border: 2px solid var(--primary-color-1);
    width: 70%;
    flex: 1;
  }
}
