* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.login_screen {
  height: 100vh;
}

.login_screen_header {
  height: 170px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
}

.login_screen_header img {
  align-self: flex-end;
  margin: 20px;
}

.login_screen_main {
  height: 80%;
  display: flex;
  align-items: center;
}

.section {
  flex: 1;
}

.login_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 100%;
  max-width: 305px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #363636;
  margin-top: 15px;
}

// input[type="button"] {
//   background: #cd2418;
//   color: #fff;
//   font-size: 14px;
//   height: 38px;
//   cursor: pointer;
// }
.login-button {
    background: #cd2418;
  color: #fff;
  font-size: 14px;
  height: 38px;
  cursor: pointer;
}

input {
  margin: 5px 0;
  padding: 10px;
  border-radius: 7px;
  outline: none;
  border: none;
  background: #f1f4f9;
  max-width: 300px;
  height: 38px;
}

input[type="checkbox"] {
  margin: 5px;
}

.sub_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
  max-width: 300px;
}

.remember_me_checkbox {
  display: flex;
  align-items: center;
}

.remember_me_checkbox label {
  font-size: 12px;
  font-weight: 400;
  margin: 0 3px;
}

a {
  text-decoration: none;
  color: #6673b7;
  font-size: 12px;
}

.section-right {
  display: flex;
  width: 100%;
  height: 100%;
}

.section-right img {
  align-self: flex-start;
  margin: 50px 0;
}
