
<div class="login_screen">
  <div class="login_screen_header">
    <img
      src="./assets/logostyle.jpg"
      alt="login"
    />
  </div>
  <div class="login_screen_main">
    <div class="section"></div>
    <div class="section login_container">
      <form class="login_form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
        <div class="sub_main">
          <div class="remember_me_checkbox">
            <input type="checkbox" />
            <label for="remember">Remember</label>
          </div>
          <div>
            <a href="#">Forgot Password?</a>
          </div>
        </div>
        <!-- <input type="button" value="LOGIN" /> -->
        <button class="login-button" type="button" (click)="onLoginClick()">Login</button>
      </form>
    </div>
    <div class="section section-right">
      <img
        src="./assets/image.jpg"
        alt=""
      />
    </div>
  </div>
</div>
