<div class="timeline__screen">
  <div class="timeline_container">
    <div class="timeline__main_screen">
      <!-- header -->
      <app-custom-header [showDateRangePicker]="true"></app-custom-header>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <h3>Timeline</h3>
          <app-custom-select
            [options]="timelineSelectOptions"
            [selectIcon]="faClock"
          ></app-custom-select>
        </div>
        <div class="main_container__timeline">
          <table>
            <thead>
              <tr>
                <th>May 2023</th>
                <th>Booked</th>
                <th>Backordered</th>
                <th>Cancelled</th>
                <th>Store Resources</th>
                <th>Sent to DC</th>
                <th>Sent to Store</th>
                <th>Sent to Vendor</th>
                <th>DC to Customer</th>
                <th>DC to Store</th>
                <th>Store to Customer</th>
                <th>Store to Store</th>
                <th>Store - Store Pickup</th>
                <th>Ready for Pickup</th>
                <th>Customer Picked Up</th>
                <th>Returns</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>02</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>03</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>04</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>05</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>06</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>07</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>08</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>09</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
