<app-custom-guitar-loader *ngIf="loader"></app-custom-guitar-loader>
<div class="timeline__screen">
  <div class="timeline_container">
    <div class="timeline__main_screen">
      <!-- header -->
      <app-custom-header></app-custom-header>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <h3>Time Series</h3>
        </div>
        <div class="main_container__heading">
          <div class="type_container">
            <button
              [ngClass]="activeType === 'fullseries' ? 'active' : ''"
              (click)="changeActiveType('fullseries')"
            >
              Full series
            </button>

            <button
              [ngClass]="activeType === 'milestones' ? 'active' : ''"
              (click)="changeActiveType('milestones')"
            >
              Milestones
            </button>
          </div>

          <div class="date_picker">
            <input
              type="text"
              placeholder="Search..."
              (input)="onSearch($event)"
            />
            <!-- <button (click)="toggleTimeSeriesModal()">View Timeseries</button> -->
            <button (click)="toggleSetMilestonesContainer()">Milestones</button>
            <button
              (click)="dp.toggleCalendar()"
              angular-mydatepicker
              [options]="myDpOptions"
              (dateChanged)="onDateChanged($event)"
              #dp="angular-mydatepicker"
            >
              Change Date
              <fa-icon
                [icon]="faCalendar"
                class="icon"
                class="date-selector-input-box"
              ></fa-icon>
            </button>
            <div class="view_selection_container">
              <fa-icon
                [icon]="faEllipsisVertical"
                class="icon"
                (click)="toggleStatusSelectionContainer()"
              ></fa-icon>
              <div class="view__options" *ngIf="statusSelectionContainer">
                <button (click)="onSelectAllRows()">
                  {{ allSelected ? "Unselect All" : "Select All" }}
                </button>
                <div class="view_option" *ngFor="let row of rowsData">
                  <input
                    type="checkbox"
                    name="{{ row.name }}"
                    [checked]="row.isSelected"
                    (click)="onRowSelectChange(row.name)"
                  />
                  <span> {{ row.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="main_container__timeline"
          *ngIf="activeType === 'milestones'"
        >
          <table>
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th *ngFor="let date of timeseriesDates">
                  <div class="milestone_detail">
                    <span>{{ date.milestone }} days</span>
                    <span>{{ date.date }}</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of timeseriesData">
                <td>
                  {{ row.status_name }}
                </td>
                <td>{{ row.sum }}</td>
                <td
                  class="milestone__value_box"
                  *ngFor="let item of row.lineTotalSum"
                >
                  <div class="milestone">
                    <fa-icon [icon]="faArrowLeft" class="icon"></fa-icon>
                    <span class="value_circle"
                      >${{ item > 0 ? (item | shortNumber) : 0 }}</span
                    >
                    <fa-icon [icon]="faArrowRight" class="icon"></fa-icon>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <table>
            <thead>
              <tr>
                <th></th>
                <th>Total</th>
                <th *ngFor="let item of timeseriesDates">{{ item }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of timeseriesData">
                <td>
                  {{ row.status_name }}
                </td>
                <td>{{ row.sum }}</td>
                <td *ngFor="let item of row.date_values">{{ item }}</td>
              </tr>
            </tbody>
          </table> -->
        </div>
        <div
          class="main_container__timeline"
          *ngIf="activeType === 'fullseries'"
        >
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Total</th>
                <th *ngFor="let item of timeseriesDates">{{ item }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of timeseriesData">
                <td>
                  {{ row.status_name }}
                </td>
                <td>{{ row.sum }}</td>
                <td *ngFor="let item of row.date_values">{{ item }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="timeseries__container" *ngIf="showSetMilestonesContainer">
  <div class="overlay" (click)="toggleSetMilestonesContainer()"></div>
  <div class="modal">
    <div class="milestones__container">
      <div class="milestones__header">
        <h1>Milestones</h1>
        <fa-icon
          [icon]="faTimes"
          class="icon"
          (click)="toggleSetMilestonesContainer()"
        ></fa-icon>
      </div>
      <div class="milestones">
        <div class="milestone">
          <label for="milestone_1">Milestone 1: </label>
          <input
            type="number"
            name="milestone_1"
            placeholder="Enter Milestone 1"
            (input)="changeMilestone($event, 1)"
          />
        </div>
        <div class="milestone">
          <label for="milestone_2">Milestone 2: </label>
          <input
            type="number"
            name="milestone_2"
            placeholder="Enter Milestone 2"
            (input)="changeMilestone($event, 2)"
          />
        </div>
        <div class="milestone">
          <label for="milestone_3">Milestone 3: </label>
          <input
            type="number"
            name="milestone_3"
            placeholder="Enter Milestone 3"
            (input)="changeMilestone($event, 3)"
          />
        </div>
        <div class="milestone">
          <label for="milestone_4">Milestone 4: </label>
          <input
            type="number"
            name="milestone_4"
            placeholder="Enter Milestone 4"
            (input)="changeMilestone($event, 4)"
          />
        </div>
        <div class="milestone">
          <label for="milestone_5">Milestone 5: </label>
          <input
            type="number"
            name="milestone_5"
            placeholder="Enter Milestone 5"
            (input)="changeMilestone($event, 5)"
          />
        </div>
      </div>
      <button (click)="saveMilestone()">Save and run</button>
      <span>{{ saveMilestoneMessage }}</span>
    </div>
  </div>
</div>
<!-- <div class="timeseries__container" *ngIf="timeSeriesModal">
  <div class="overlay" (click)="toggleTimeSeriesModal()"></div>
  <div class="modal">
    <app-horizontal-timeline
      [timeseriesDate]="selectedDate"
    ></app-horizontal-timeline>
  </div>
</div> -->
