.progress {
  background: rgba(158, 8, 8, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 10px;
  width: 100%;
  margin: 10px 0;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: var(--primary-boxshadow);
  border-radius: 100px;
  background: var(--primary-background-1);
  height: 100%;
}

@keyframes load {
  0% {
    width: 0;
  }
}
