$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;

.returns__screen {
  background: var(--primary-background-1);

  .returns_container {
    width: 100%;
    height: 100%;
    display: flex;

    .returns__main_screen {
      flex: 1;
      background: var(--primary-background-2);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
      width: 1292px;
      height: 100%;
      .main_screen__main_container {
        margin: 10px;
        padding: 10px 15px;
        height: 100%;

        .main_container__heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .heading__flexbox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              font-size: 18px;
              font-weight: 500;
              color: var(--primary-color-3);
              cursor: pointer;
            }

            h3 {
              font-size: 30px;
              font-weight: 700;
              color: var(--primary-color-1);
            }
          }
        }

        .main_container__returns_container {
          border-radius: 10px;
          background: var(--primary-background-2);
          box-shadow: var(--primary-boxshadow);
          display: flex;
          padding: 15px;
          flex-direction: column;

          .overall_total_return_stats {
            display: flex;
            @media only screen and (max-width: $mobile) {
              flex-direction: column;
            }

            .overall_total__stats_contianer {
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
              box-shadow: var(--primary-boxshadow);
              padding: 10px;
              margin: 10px 20px;
              flex-direction: column;

              h3 {
                font-size: 20px;
                font-weight: 400;
                color: var(--primary-color-3);
                text-align: center;
              }

              h1 {
                font-size: 25px;
                font-weight: 400;
                text-transform: uppercase;
                @media only screen and (max-width: $mobile) {
                  font-size: 25px;
                }
                @media only screen and (min-width: $tablet) {
                  font-size: 30px !important;
                }
              }

              .totals {
                width: 100%;
                flex: 1;
                display: flex;
                align-items: center;
                border-radius: 10px;
                // box-shadow: var(--primary-boxshadow);
                padding: 10px;
                margin: 10px 20px;
              }

              .overall_total__stats__item {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-radius: 10px;
                box-shadow: var(--primary-boxshadow);
                padding: 10px;
                margin: 10px 20px;

                @media only screen and (max-width: $mobile) {
                  justify-content: space-between;
                  width: 100%;
                }

                h3 {
                  font-size: 20px;
                  font-weight: 400;
                  color: var(--primary-color-3);

                  @media only screen and (max-width: $mobile) {
                    font-size: 25px;
                  }
                }

                h1 {
                  font-size: 40px;
                  font-weight: 400;

                  @media only screen and (max-width: $mobile) {
                    font-size: 25px;
                  }
                }
              }
            }
          }

          .sales_categories_container {
            display: flex;
            width: 100%;

            @media only screen and (max-width: $mobile) {
              width: 100%;
              flex-direction: column;
            }

            .top_list__by_item_info {
              flex: 1;
              box-shadow: var(--primary-boxshadow);
              margin: 5px;
              padding: 10px;

              h3 {
                color: var(--primary-color-1);
                text-transform: uppercase;
                text-align: center;
                border-bottom: 1px dashed var(--primary-color-4);
                padding-bottom: 10px;
                span {
                  color: var(--primary-color-3);
                }
              }

              .top_list__items_list {
                display: flex;
                flex-direction: column;
                height: 100%;

                .top_list__item:nth-child(even) {
                  span {
                    color: var(--primary-color-3) !important;
                  }
                }

                .top_list__item {
                  // box-shadow: var(--primary-boxshadow);
                  border-bottom: 1px dashed var(--primary-color-4);
                  padding: 20px 5px;
                  margin: 10px 0;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  span {
                    width: 25%;
                    text-align: center;
                    color: var(--primary-color-1);
                    font-weight: bolder;
                    font-size: 18px;
                    margin: 0 10px;
                    overflow: hidden;
                  }

                  h4 {
                    margin: 0;
                  }
                }
              }
            }
          }

          .tables {
            display: flex;
            width: 100%;
            margin-top: 20px;
            flex-direction: column;

            .row {
              flex: 1;
              display: flex;

              .top_list__by_item_info {
                flex: 1;
                box-shadow: var(--primary-boxshadow);
                margin: 5px;
                padding: 10px;
                width: 100%;
                h3 {
                  color: var(--primary-color-1);
                  text-transform: uppercase;
                  text-align: center;
                  border-bottom: 1px dashed var(--primary-color-4);
                  padding-bottom: 10px;
                  span {
                    font-size: 22px;
                    color: var(--primary-color-3);
                  }
                }

                .top_list__items_list {
                  display: flex;
                  flex-direction: column;
                  height: 100%;

                  .top_list__item:nth-child(even) {
                    span {
                      color: var(--primary-color-3) !important;
                    }
                  }

                  .top_list__item {
                    // box-shadow: var(--primary-boxshadow);
                    border-bottom: 1px dashed var(--primary-color-4);
                    padding: 20px 5px;
                    margin: 10px 0;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    span {
                      width: 25%;
                      text-align: center;
                      color: var(--primary-color-1);
                      font-weight: bolder;
                      font-size: 18px;
                      margin: 0 10px;
                      overflow: hidden;
                    }

                    h4 {
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
