<app-custom-guitar-loader *ngIf="loader"></app-custom-guitar-loader>
<div class="org_chart__screen">
  <div class="org_chart_container">
    <div class="org_chart__main_screen">
      <!-- header -->
      <app-custom-header [showDateRangePicker]="true"></app-custom-header>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <div class="heading__flexbox">
            <h3>Returns</h3>
          </div>
        </div>
        <div class="main_container__charts_container"></div>
      </div>
    </div>
  </div>
</div>
