$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;

.sales__screen {
  min-height: 100vh;
  background: var(--primary-background-1);

  .sales_container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .sales__main_screen {
      flex: 1;
      background: var(--primary-background-2);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      box-shadow: var(--primary-boxshadow);
      width: 1292px;
      // border-radius: 6px;

      .main_screen__main_container {
        // border: 1px solid red;
        flex: 1;
        margin: 10px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;

        .main_container__heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .heading_container {
            display: flex;
            align-items: center;

            h3 {
              font-size: 30px;
              font-weight: 700;
              color: var(--primary-color-1);
            }

            .view_selection_container {
              position: relative;
              .view__options {
                border-radius: 10px;
                border-top-left-radius: 0;
                box-shadow: var(--primary-boxshadow);
                width: max-content;
                background-color: var(--primary-background-1);
                position: absolute;
                top: 30px;
                left: 20px;

                .view_option {
                  padding: 10px;
                  border-radius: 10px;
                  margin: 5px;
                  &:hover {
                    background-color: var(--primary-background-2);
                    cursor: pointer;
                  }
                }
              }
            }

            .icon {
              font-size: 25px;
              margin-left: 15px;
              padding: 5px;
              &:hover {
                color: var(--primary-color-3);
                cursor: pointer;
              }
            }
          }
        }

        .main_sales__container {
          border-radius: 10px;
          background: var(--primary-background-3);
          box-shadow: var(--primary-boxshadow);
          display: flex;
          padding: 15px;
          flex-direction: column;

          .overall_total__stats_contianer {
            display: flex;
            margin: 10px;
            padding: 20px;
            border-radius: 10px;
            align-items: center;
            // justify-content: space-around;
            // border: 1px solid red;
            box-shadow: var(--primary-boxshadow);

            @media only screen and (max-width: $mobile) {
              flex-direction: column;
              width: 100%;
            }
            .overall_total__stats__item {
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              border-radius: 10px;
              box-shadow: var(--primary-boxshadow);
              padding: 10px;
              margin: 10px 20px;

              @media only screen and (max-width: $mobile) {
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
              }

              h3 {
                font-size: 20px;
                font-weight: 600;
                color: var(--primary-color-3);
              }
            }
          }

          .sales_container__row {
            // flex: 1;
            // border: 1px solid pink;
            display: flex;
            margin: 10px;
            border-radius: 10px;
            // justify-content: space-evenly;
            align-items: center;
            @media only screen and (max-width: $mobile) {
              flex-direction: column;
              width: 100%;
            }
            // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            .row_1_div_1 {
              // border: 1px solid red;
              height: 100%;
              flex: 2;
              margin: 10px;
              // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              box-shadow: var(--primary-boxshadow);
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 10px 15px;
              @media only screen and (max-width: $mobile) {
                width: 100%;
              }

              .brand__name {
                font-weight: 600;
                color: var(--primary-color-3);
              }

              h1 {
                font-size: 50px;
                font-weight: 700;
                color: var(--primary-color-1);
                margin: 10px 0;
              }

              h3 {
                font-size: 20px;
                font-weight: 600;
                color: var(--primary-color-1);
              }

              progress {
                width: 100%;
                height: 20px;
              }
              .div_1_progress_details {
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-size: 15px;

                span {
                  color: var(--primary-color-1);
                  cursor: text;
                  font-size: 18px;
                  font-weight: bold;
                  &:hover {
                    border-bottom: var(--primary-color-3);
                  }
                }

                .div_1_progress_details__date_change {
                  cursor: pointer;
                  span {
                    color: var(--primary-color-3);
                    &:hover {
                      color: var(--primary-color-1);
                    }
                  }

                  .icon {
                    margin-left: 10px;
                    padding: 10px;
                    border-radius: 10px;
                  }

                  .date-selector-input-box {
                    margin: 10px;
                    width: 80px;
                  }
                }

                input {
                  outline: none;
                  border: none;
                  border-bottom: 1px solid var(--primary-color-3);
                  background: transparent;
                  width: 50px;
                  color: var(--primary-color-1);
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                }
              }
            }
            .row_1_div_2 {
              // border: 1px solid rgb(23, 57, 121);
              height: 100%;
              flex: 4;
              max-width: 60%;
              margin: 10px;
              // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              border-radius: 10px;
              box-shadow: var(--primary-boxshadow);
              display: flex;
              flex-direction: column;
              @media only screen and (max-width: $mobile) {
                width: 100%;
                max-width: 100%;
              }
              .chart__header {
                padding:20px 20px 0px 20px;
                // align-self: flex-end;
                display: flex;
                justify-content: space-between;

                button {
                  outline: none;
                  // border: 1px solid var(--primary-color-1);
                  background: var(--primary-background-3);
                  border: none;
                  border-radius: 10px;
                  font-size: 15px;
                  padding: 10px;
                  box-shadow: var(--primary-boxshadow);
                  color: var(--primary-color-1);
                  cursor: pointer;

                  .icon {
                    margin: 0 8px;
                  }

                  .icon-main {
                    color: var(--primary-color-3);
                  }

                  &:hover {
                    filter: brightness(120%);
                  }
                }
              }
            }
            .row_1_div_3 {
              height: 100%;
              flex: 2;
              margin: 10px;
              box-shadow: var(--primary-boxshadow);
              border-radius: 10px;
              display: flex;
              // flex-direction: column;
              // justify-content: center;
              padding: 10px 15px;
              @media only screen and (max-width: $mobile) {
                width: 100%;
              }

              .top_list__by_channel,
              .top_list__by_fulfilment {
                flex: 1;
                box-shadow: var(--primary-boxshadow);
                margin: 5px;
                padding: 10px;

                h3 {
                  color: var(--primary-color-1);
                  text-transform: uppercase;
                  text-align: center;
                  border-bottom: 1px dashed var(--primary-color-3);
                }

                .top_list__items_list {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-evenly;
                  height: 100%;

                  .top_list__item {
                    box-shadow: var(--primary-boxshadow);
                    padding: 10px 5px;
                    display: flex;
                    justify-content: space-between;
                    h4 {
                      margin: 0;
                    }

                    span {
                      color: var(--primary-color-3);
                      font-weight: bold;
                      text-align: right;
                    }
                  }
                }
              }
            }
          }

          .top_sales__by_brand {
            display: flex;
            margin: 10px;

            @media only screen and (max-width: $mobile) {
              width: 100%;
              flex-direction: column;
            }

            .brand__top_list_container {
              flex: 1;
              border: 1px solid var(--primary-color-1);
              margin: 10px;
              padding: 15px;
              border-radius: 5px;

              h3 {
                color: var(--primary-color-1);
                text-transform: uppercase;
                text-align: center;
                border-bottom: 1px dashed var(--primary-color-3);

                span {
                  color: var(--primary-color-3);
                }
              }

              .lists__container {
                display: flex;
                justify-content: center;

                .top_items__list {
                  flex: 1;
                  box-shadow: var(--primary-boxshadow);
                  margin: 5px;
                  padding: 10px;

                  h3 {
                    color: var(--primary-color-1);
                    text-transform: uppercase;
                    text-align: center;
                    border-bottom: 1px dashed var(--primary-color-3);
                  }

                  .top_list__items_list {
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-evenly;
                    height: 100%;

                    .top_list__item {
                      padding: 10px 0px;
                      display: flex;
                      justify-content: space-between;

                      h4 {
                        margin: 0;
                      }

                      span {
                        color: var(--primary-color-3);
                        font-weight: bold;
                        text-align: right;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.custom_value__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  button {
    margin: 0 10px;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
    color: var(--primary-color-3);
    font-size: 15px;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid var(--primary-color-3);
    }
  }
}

.pintab {
  margin: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: 0px 3px 2px -2px #000;
}
.pintabinput {
  opacity: 0.01;
}
.pintab i {
  transition: top 0.1s cubic-bezier(0.82, -0.03, 0.58, 1),
    color 0.1s ease-in-out 0.1s;
  position: absolute;
  left: 3px;
  top: -5px;
  cursor: pointer;
  color: #f9f9f9;
  font-size: 18px;
}
.cckd {
  top: 0px !important;
  color: #2ecc71 !important;
}
