<div *ngIf="showChangeModal">
  <app-custom-modal>
    <ngb-datepicker
      #dp
      [displayMonths]="1"
      [dayTemplate]="t"
      outsideDays="hidden"
    >
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
      <span class="custom-day" [class.focused]="focused">
        {{ date.day }}
      </span>
    </ng-template>
    <div class="custom_value__buttons">
      <button class="cancel" (click)="toggleChangeModal()">Cancel</button>
      <button class="apply">Apply</button>
    </div>
  </app-custom-modal>
</div>

<div class="sales__screen">
  <div class="sales_container">
    <div class="sales__main_screen">
      <!-- header -->
      <app-custom-header
        (onDateChanged)="onGlobalDateRangeChanged($event)"
        (changeDate)="changeDate($event)"
        (onRangeSelect)="onRangeSelect($event)"
        [fullDate]="fullDate"
        [showDateRangePicker]="true"
      ></app-custom-header>
      <div class="main_screen__main_container">
        <div class="main_container__heading">
          <div class="heading_container">
            <h3>Sales</h3>
            <div class="view_selection_container">
              <fa-icon
                [icon]="faEllipsisVertical"
                class="icon"
                (click)="toggleViewSelectContainer()"
              ></fa-icon>
              <div class="view__options" *ngIf="isViewSelectContainerOpen">
                <div class="view_option" routerLink="/area-chart">
                  Sales Analysis
                </div>
                <div class="view_option" routerLink="/org-chart">
                  Sales flow
                </div>
              </div>
            </div>
          </div>
          <!-- <h3>Edit</h3> -->
        </div>
        <div class="main_sales__container">
          <!-- row 1 -->
          <div class="sales_container__row">
            <div class="row_1_div_1">
              <h1 class="brand__name">GC</h1>
              <h1>${{ originalOrdersTotalTodayAbbr }}</h1>
              <h3>{{ fullDate === todaysDate ? "Today" : fullDate }}</h3>
              <app-custom-progress-bar
                [customGoalProgress]="customGoalProgress"
              ></app-custom-progress-bar>
              <div class="div_1_progress_details">
                <span>{{ customGoalProgress }}</span>

                <div class="div_1_progress_details__date_change">
                  <span (dblclick)="makeEditable()" *ngIf="!isEditable">
                    ${{ customGoalAbbr }}
                  </span>
                  <input
                    type="number"
                    (ngModel)="(customGoal)"
                    value="{{ customGoal }}"
                    *ngIf="isEditable"
                    (blur)="makeNonEditable()"
                    (change)="setCustomGoal($event)"
                  />
                  <!-- <fa-icon
                    [icon]="faCalendar"
                    class="icon"
                    (click)="toggleChangeModal()"
                  ></fa-icon> -->
                  <fa-icon
                    [icon]="faCalendar"
                    class="icon"
                    class="date-selector-input-box"
                    (click)="dp.toggleCalendar()"
                    angular-mydatepicker
                    [options]="myDpOptions"
                    (dateChanged)="onDateChanged($event)"
                    #dp="angular-mydatepicker"
                  ></fa-icon>
                </div>
              </div>
            </div>
            <div class="row_1_div_2">
              <div class="select_chart_type">
                <app-custom-select
                  (onSelectChartChange)="onSelectChartChange($event)"
                  [selectIcon]="faChartLine"
                  [options]="chartTypeOptions"
                ></app-custom-select>
              </div>
              <app-bar-chart *ngIf="selectedChart == 'bar'"></app-bar-chart>
              <app-column-chart
                *ngIf="selectedChart == 'column'"
              ></app-column-chart>
              <app-pie-chart *ngIf="selectedChart == 'pie'"></app-pie-chart>
              <app-custom-table
                *ngIf="selectedChart == 'table'"
              ></app-custom-table>
              <app-line-chart *ngIf="selectedChart == 'line'"></app-line-chart>
            </div>
            <div class="row_1_div_3">
              <div class="top_list__by_channel">
                <h3>Sales By Channel</h3>
                <div class="top_list__items_list">
                  <div class="top_list__item">
                    <h4>Contact Center</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Sales Force</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Web</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Special Order</h4>
                    <span>$2.4M</span>
                  </div>
                </div>
              </div>
              <div class="top_list__by_fulfilment">
                <h3>Sales By fulfilment</h3>
                <div class="top_list__items_list">
                  <div class="top_list__item">
                    <h4>Pickup in Store</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Ship to Customer</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Store Pickup</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Digital Vendor</h4>
                    <span>$2.4M</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row 2 -->
          <div class="sales_container__row">
            <div class="row_1_div_1">
              <h1 class="brand__name">MF</h1>
              <h1>${{ originalOrdersTotalTodayAbbr }}</h1>
              <h3>{{ fullDate === todaysDate ? "Today" : fullDate }}</h3>
              <app-custom-progress-bar
                [customGoalProgress]="customGoalProgress"
              ></app-custom-progress-bar>
              <div class="div_1_progress_details">
                <span>{{ customGoalProgress }}</span>

                <div class="div_1_progress_details__date_change">
                  <span (dblclick)="makeEditable()" *ngIf="!isEditable">
                    ${{ customGoalAbbr }}
                  </span>
                  <input
                    type="number"
                    (ngModel)="(customGoal)"
                    value="{{ customGoal }}"
                    *ngIf="isEditable"
                    (blur)="makeNonEditable()"
                    (change)="setCustomGoal($event)"
                  />
                  <!-- <fa-icon
                    [icon]="faCalendar"
                    class="icon"
                    (click)="toggleChangeModal()"
                  ></fa-icon> -->
                  <fa-icon
                    [icon]="faCalendar"
                    class="icon"
                    class="date-selector-input-box"
                    (click)="dp.toggleCalendar()"
                    angular-mydatepicker
                    [options]="myDpOptions"
                    (dateChanged)="onDateChanged($event)"
                    #dp="angular-mydatepicker"
                  ></fa-icon>
                </div>
              </div>
            </div>
            <div class="row_1_div_2">
              <div class="select_chart_type">
                <app-custom-select
                  (onSelectChartChange)="onSelectChartChange($event)"
                  [selectIcon]="faChartLine"
                  [options]="chartTypeOptions"
                ></app-custom-select>
              </div>
              <app-bar-chart *ngIf="selectedChart == 'bar'"></app-bar-chart>
              <app-column-chart
                *ngIf="selectedChart == 'column'"
              ></app-column-chart>
              <app-pie-chart *ngIf="selectedChart == 'pie'"></app-pie-chart>
              <app-custom-table
                *ngIf="selectedChart == 'table'"
              ></app-custom-table>
              <app-line-chart *ngIf="selectedChart == 'line'"></app-line-chart>
            </div>
            <div class="row_1_div_3">
              <div class="top_list__by_channel">
                <h3>Sales By Channel</h3>
                <div class="top_list__items_list">
                  <div class="top_list__item">
                    <h4>Contact Center</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Sales Force</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Web</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Special Order</h4>
                    <span>$2.4M</span>
                  </div>
                </div>
              </div>
              <div class="top_list__by_fulfilment">
                <h3>Sales By fulfilment</h3>
                <div class="top_list__items_list">
                  <div class="top_list__item">
                    <h4>Pickup in Store</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Ship to Customer</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Store Pickup</h4>
                    <span>$2.4M</span>
                  </div>
                  <div class="top_list__item">
                    <h4>Digital Vendor</h4>
                    <span>$2.4M</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Overall total stats -->
          <div class="overall_total__stats_contianer">
            <div class="overall_total__stats__item">
              <h3>Total (Booked)</h3>
              <h1>$8.1M</h1>
            </div>
            <div class="overall_total__stats__item">
              <h3>Total (Units)</h3>
              <h1>20000</h1>
            </div>
            <div class="overall_total__stats__item">
              <h3>Shipping Charges</h3>
              <h1>$400K</h1>
            </div>
            <div class="overall_total__stats__item">
              <h3>Discount</h3>
              <h1>$200K</h1>
            </div>
            <div class="overall_total__stats__item">
              <h3>Margin</h3>
              <h1>$2.1M</h1>
            </div>
            <div class="overall_total__stats__item">
              <h3>Tax</h3>
              <h1>$1.5M</h1>
            </div>
          </div>

          <div class="top_sales__by_brand">
            <div class="brand__top_list_container">
              <h3>Top Items Sold in <span>GC</span></h3>
              <div class="lists__container">
                <div class="top_items__list">
                  <h3>By Volume</h3>
                  <div class="top_list__items_list">
                    <div class="top_list__item">
                      <h4>Pickup in Store</h4>
                      <span>100K</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Ship to Customer</h4>
                      <span>100K</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Store Pickup</h4>
                      <span>100K</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Digital Vendor</h4>
                      <span>100K</span>
                    </div>
                  </div>
                </div>
                <div class="top_items__list">
                  <h3>By Value</h3>
                  <div class="top_list__items_list">
                    <div class="top_list__item">
                      <h4>Pickup in Store</h4>
                      <span>$2.4M</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Ship to Customer</h4>
                      <span>$2.4M</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Store Pickup</h4>
                      <span>$2.4M</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Digital Vendor</h4>
                      <span>$2.4M</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="brand__top_list_container">
              <h3>Top Items Sold in <span> MF</span></h3>
              <div class="lists__container">
                <div class="top_items__list">
                  <h3>By Volume</h3>
                  <div class="top_list__items_list">
                    <div class="top_list__item">
                      <h4>Pickup in Store</h4>
                      <span>100K</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Ship to Customer</h4>
                      <span>100K</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Store Pickup</h4>
                      <span>100K</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Digital Vendor</h4>
                      <span>100K</span>
                    </div>
                  </div>
                </div>
                <div class="top_items__list">
                  <h3>By Value</h3>
                  <div class="top_list__items_list">
                    <div class="top_list__item">
                      <h4>Pickup in Store</h4>
                      <span>$2.4M</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Ship to Customer</h4>
                      <span>$2.4M</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Store Pickup</h4>
                      <span>$2.4M</span>
                    </div>
                    <div class="top_list__item">
                      <h4>Digital Vendor</h4>
                      <span>$2.4M</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
