.timeline__screen {
  min-height: 100vh;
  background: var(--primary-background-1);

  .timeline_container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .timeline__main_screen {
      flex: 1;
      background: var(--primary-background-2);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.1);
      width: 1292px;
      .main_screen__main_container {
        margin: 10px;
        padding: 10px 15px;

        .main_container__heading {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          h3 {
            font-size: 30px;
            font-weight: 700;
            color: var(--primary-color-1);
          }
        }

        .main_container__timeline {
          width: 100%;
          overflow-x: auto;
          display: flex;
          justify-content: center;
          box-shadow: var(--primary-boxshadow);

          .time-line-box {
            padding: 50px 0;
            width: 100%;
            overflow-y: auto;
          }

          .time-line-box .timeline {
            list-style-type: none;
            display: flex;
            padding: 0;
            text-align: center;
            padding: 20px 10px;
          }

          .time-line-box .timestamp {
            margin: auto;
            margin-bottom: 5px;
            padding: 0px 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .time-line-box .status {
            padding: 0px 10px;
            display: flex;
            justify-content: center;
            border-top: 1px dashed var(--primary-color-3);
            position: relative;
            transition: all 200ms ease-in;

            span {
              writing-mode: vertical-lr;
            }
          }
          span {
            padding-top: 8px;
            font-size: 18px;
            margin: 10px;
          }

          .time-line-box .status span:before {
            content: "";
            width: 20px;
            height: 20px;
            background-color: var(--primary-color-3);
            border-radius: 20px;
            border: 2px solid var(--primary-color-3);
            position: absolute;
            left: 50%;
            top: 0%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            transition: all 200ms ease-in;
          }

          .swiper-container {
            width: 95%;
            margin: auto;
          }
          .swiper-wrapper {
            display: inline-flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
          }
          ::-webkit-scrollbar-track {
            // background: #a8a8a8b6;
          }
          ::-webkit-scrollbar {
            height: 5px;
          }
          ::-webkit-scrollbar-thumb {
            // background: #4f4f4f !important;
          }
          .swiper-slide {
            flex: 1;
            text-align: center;
            font-size: 12px;
            width: 100px;
            height: 100%;
            position: relative;
            padding: 20px 0px;
          }
        }
      }
    }
  }
}
