<div class="main_container__timeline">
  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Time Series</th>
        <!-- <th *ngFor="let item of timeseriesDates">{{ item }}</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of timeseriesTimelineData">
        <td>
          {{ row.status_name }}
        </td>
        <!-- <td>{{ row.sum }}</td> -->
        <td class="statusPoints">
          <section class="time-line-box">
            <div class="swiper-container text-center">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide"
                  *ngFor="let item of row.QtySum; let i = index"
                >
                  <div class="timestamp">
                    <span class="order_status">{{
                      timeseriesTimelineDates[i]
                        ? timeseriesTimelineDates[i]
                        : row.lastDate
                    }}</span>
                  </div>
                  <div class="status">
                    <span>{{ item }}</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </td>
      </tr>
    </tbody>
  </table>
</div>
