<div class="sidebar">
  <div class="sidebar__item">
    <fa-icon [icon]="faBars" class="icon"></fa-icon>
  </div>
  <div class="sidebar__item" routerLink="/dashboard">
    <fa-icon [icon]="faHome" class="icon" routerLinkActive="active"></fa-icon>
    <h3 routerLinkActive="active" class="label">Dashboard</h3>
  </div>
  <div class="sidebar__item" routerLink="/sales">
    <fa-icon
      [icon]="faCashRegister"
      class="icon"
      routerLinkActive="active"
    ></fa-icon>
    <h3 routerLinkActive="active" class="label">Sales</h3>
  </div>
  <div class="sidebar__item" routerLink="/area-chart">
    <fa-icon
      [icon]="faChartColumn"
      class="icon"
      routerLinkActive="active"
    ></fa-icon>
    <h3 routerLinkActive="active" class="label">Area Chart</h3>
  </div>
  <div class="sidebar__item" routerLink="/org-chart">
    <fa-icon
      [icon]="faSitemap"
      class="icon"
      routerLinkActive="active"
    ></fa-icon>
    <h3 routerLinkActive="active" class="label">Org Chart</h3>
  </div>

  <div class="sidebar__item" routerLink="/org-chart-1">
    <fa-icon
      [icon]="faMessage"
      class="icon"
      routerLinkActive="active"
    ></fa-icon>
    <h3 routerLinkActive="active" class="label">Notifications</h3>
  </div>
  <div class="sidebar__item" routerLink="/settings">
    <fa-icon [icon]="faGear" class="icon" routerLinkActive="active"></fa-icon>
    <h3 routerLinkActive="active" class="label">Settings</h3>
  </div>
</div>
