<div class="dashboard__sidebar">
  <div class="sidebar__icon">
    <fa-icon [icon]="faBars" class="icon"></fa-icon>
  </div>
  <div class="sidebar__icon" routerLink="/dashboard">
    <fa-icon
      [icon]="faHome"
      class="icon"
      [ngClass]="currentRoute === '/dashboard' ? 'active' : ''"
    ></fa-icon>
  </div>
  <div class="sidebar__icon" routerLink="/area-chart">
    <fa-icon
      [icon]="faChartColumn"
      class="icon"
      [ngClass]="currentRoute === '/area-chart' ? 'active' : ''"
    ></fa-icon>
  </div>
  <div class="sidebar__icon">
    <fa-icon [icon]="faSitemap" class="icon"></fa-icon>
  </div>
  <div class="sidebar__icon">
    <fa-icon [icon]="faUser" class="icon"></fa-icon>
  </div>
  <div class="sidebar__icon">
    <fa-icon [icon]="faMessage" class="icon"></fa-icon>
  </div>
  <div class="sidebar__icon">
    <fa-icon [icon]="faGear" class="icon"></fa-icon>
  </div>
</div>
