.dashboard__sidebar {
  height: 100%;
  min-height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background-1);
  position: fixed;
  top: 0;
  z-index: 10000;
  border-radius: 0 5px 5px 0;
  transition: all 1s ease-in-out;

  &:hover {
    width: 230px;
  }

  &:hover .sidebar__item {
    .label {
      display: block;
    }
  }

  &:hover .active {
    font-size: 22px;
  }

  &:hover .icon.active {
    transform: rotate(-5deg);
    animation: bounce 0.5s ease-in-out 1;
  }

  .sidebar__item {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    // justify-content: center;
    padding: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }

    .label {
      padding: 0 10px;
      display: none;
      color: white;
    }

    .icon {
      color: white;
      font-size: 18px;
    }

    .icon.active {
      color: #0b2447;
    }

    .active {
      color: #0b2447;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

