.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loader::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 32px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: loader 1.2s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 400px;
}
.chartContainer {
  height: 300px;
}

.pintab {
  margin: 0 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: 0px 3px 2px -2px #000;
}
.pintabinput {
  opacity: 0.01;
}
.pintab i {
  transition: top 0.1s cubic-bezier(0.82, -0.03, 0.58, 1),
    color 0.1s ease-in-out 0.1s;
  position: absolute;
  left: 3px;
  top: -5px;
  cursor: pointer;
  color: #f9f9f9;
  font-size: 18px;
}
.cckd {
  top: 0px !important;
  color: #2ecc71 !important;
}
