
<div>

</div>
<div #chartContainer></div>

<table>
  <thead>
    <tr>
      <th (click)="onColumnHeaderClick('id')" [ngClass]="{ 'selected': selectedColumnHeader === 'id' }">ID</th>
      <th (click)="onColumnHeaderClick('name')" [ngClass]="{ 'selected': selectedColumnHeader === 'name' }">Name</th>
      <th (click)="onColumnHeaderClick('age')" [ngClass]="{ 'selected': selectedColumnHeader === 'age' }">Age</th>
      <th (click)="onColumnHeaderClick('custom')" [ngClass]="{ 'selected': selectedColumnHeader === 'custom' }">Custom</th>
      <th (click)="onColumnHeaderClick('data')" [ngClass]="{ 'selected': selectedColumnHeader === 'data' }">Data</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td [ngClass]="{ 'selected': selectedColumnHeader === 'id' }">{{ row.id }}</td>
      <td [ngClass]="{ 'selected': selectedColumnHeader === 'name' }">{{ row.name }}</td>
      <td [ngClass]="{ 'selected': selectedColumnHeader === 'age' }">{{ row.age }}</td>
      <td [ngClass]="{ 'selected': selectedColumnHeader === 'custom' }">{{ row.custom }}</td>
      <td [ngClass]="{ 'selected': selectedColumnHeader === 'data' }">{{ row.data }}</td>
    </tr>
  </tbody>
</table>
