<app-custom-guitar-loader *ngIf="loader"></app-custom-guitar-loader>
<div class="us_chart__screen">
  <div class="us_chart_container">
    <div class="us_chart__main_screen">
      <app-custom-header
        (onDateChanged)="onGlobalDateRangeChanged($event)"
        (changeDate)="changeDate($event)"
        (onRangeSelect)="onRangeSelect($event)"
        [fullDate]="fullDate"
        [showDateRangePicker]="true"
      ></app-custom-header>
      <div class="main_container__heading">
        <div class="heading__flexbox">
          <h3>Map</h3>
        </div>
      </div>
      <div class="us_chart_container">
        <highcharts-chart
          id="container"
          [Highcharts]="Highcharts"
          [constructorType]="chartConstructor"
          [options]="chartOptions"
          [(update)]="updateFlag"
          #chartContainer
          style="width: 70%; height: 80%"
        >
        </highcharts-chart>
      </div>
    </div>
  </div>
</div>
