<div class="sales_analysis__screen">
  <div class="sales_analysis_container">
    <div class="sales_analysis__main_screen">
      <app-custom-header [showDateRangePicker]="true"></app-custom-header>
      <div class="main_container__heading">
        <div class="heading__flexbox">
          <h3>Sales - Analysis</h3>
          <span routerLink="/sales">
            <fa-icon [icon]="faCaretLeft"></fa-icon>
            Back to Sales</span
          >
        </div>
      </div>
      <div class="table_and_query__container">
        <div class="table__container">
          <app-custom-grid
            *ngIf="data"
            [dataArray]="data"

            (onTableSelectChange)="onTableSelectChange($event)"
          ></app-custom-grid>
        </div>
        <div class="query__container">
          <div class="query__container_header">
            <div class="chart_columns_selection_container">
              <div class="column_selector">
                <label for="x_axis">X-Axis:</label>
                <select name="x_axis" (change)="onColumnChange('x', $event)">
                  <option value="" disabled selected>Select X</option>
                  <option *ngFor="let column of columns" [value]="column">
                    {{ column }}
                  </option>
                </select>
              </div>
              <div class="column_selector">
                <label for="y_axis">Y-Axis:</label>
                <select name="y_axis" (change)="onColumnChange('y', $event)">
                  <option value="" disabled selected>Select Y</option>
                  <option *ngFor="let column of columns" [value]="column">
                    {{ column }}
                  </option>
                </select>
              </div>
              <button (click)="createChart()" [disabled]="queryError">
                <fa-icon [icon]="faChartLine"></fa-icon> Create
              </button>
              <button (click)="toggleSavedQueriesContainer()" [ngClass]="showSavedQueriesContainer ? 'active' : ''">
                <fa-icon [icon]="faChartLine"></fa-icon> Saved
              </button>
            </div>
            <div class="run__query_button">
              <button (click)="getQueryResult()">
                <fa-icon [icon]="faPlay"></fa-icon> Run
              </button>
            </div>
          </div>
          <div class="query__text_box_container" *ngIf="!showSavedQueriesContainer">
            <textarea
              name=""
              id=""
              (input)="onQueryChange($event)"
              placeholder="Query..."
            ></textarea>
          </div>
          <div class="saved__queries__container">
            <div class="saved_query__container" *ngFor="let query of userQueriesData ">
              <span>{{query.name}}</span>
              <button (click)="onSavedQueryRun(query)">Run</button>
            </div>
          </div>
          <div class="query__save_container" *ngIf="showSaveQuery &&!showSavedQueriesContainer ">
            <input type="text" placeholder="Enter Query Name" (input)="onQueryNameChange($event)" />
            <button (click)="saveQuery()">Save</button>
          </div>
        </div>
      </div>

      <div
        class="chart__container"
        [ngStyle]="{ display: showChart ? 'block' : 'none' }"
      >
        <div class="chartContainer" #chartContainer></div>
      </div>
    </div>
  </div>
</div>
