$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;

.sales_analysis__screen {
  min-height: 100vh;
  background: var(--primary-background-1);

  .sales_analysis_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      width: 100%;
    }

    .sales_analysis__main_screen {
      flex: 1;
      background: var(--primary-background-2);
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      width: 1292px;
      // border-radius: 6px;

      .main_container__heading {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        padding: 10px 15px;

        .heading__flexbox {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-size: 18px;
            font-weight: 500;
            color: var(--primary-color-3);
            cursor: pointer;
          }

          h3 {
            font-size: 30px;
            font-weight: 700;
            color: var(--primary-color-1);
          }
        }
      }

      .table_and_query__container {
        display: flex;
        align-items: start;
        padding: 10px 15px;

        @media only screen and (max-width: $mobile) {
          flex-direction: column;
        }

        .table__container {
          width: 50%;
          @media only screen and (max-width: $mobile) {
            width: 100%;
          }
        }

        .query__container {
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          transition: all 0.5s ease-in-out;
          margin: 0 20px;
          height: 100%;
          padding: 20px;
          flex: 1;
          box-shadow: var(--primary-boxshadow);
          @media only screen and (max-width: $mobile) {
            width: 100%;
          }

          button {
            background: var(--primary-background-1);
            color: var(--primary-color-1);
            border: none;
            border-radius: 6px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 600;
            margin: 0 10px;
            cursor: pointer;
            box-shadow: var(--primary-boxshadow);
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            &:hover {
              background: var(--primary-background-3);
              color: var(--primary-color-3);
            }
          }

          button:disabled {
            background: var(--primary-background-3);
            color: var(--primary-color-3);
            cursor: not-allowed;
          }

          button.active {
            background: var(--primary-background-3);
            color: var(--primary-color-3);
          }

          .query__container_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid var(--primary-color-3);

            .chart_columns_selection_container {
              display: flex;
              align-items: center;

              .column_selector {
                display: flex;
                align-items: center;
                gap: 10px;

                label {
                  font-size: 20px;
                  font-weight: 500;
                  color: var(--primary-color-1);
                }
                select {
                  width: 150px;

                  option {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--primary-color-1);
                  }
                }
              }
            }
          }

          .query__text_box_container {
            display: flex;
            flex: 1;
            textarea {
              width: 100%;
              border: none;
              outline: none;
              resize: none;
              padding: 20px;
              background: transparent;
              color: var(--primary-color-1);
              font-size: 20px;
              font-weight: 500;
              flex: 1;
              border-radius: 6px;
              box-shadow: var(--primary-boxshadow);
            }
          }
          .query__error_container {
            display: flex;
            justify-content: left;
            align-items: center;
            border-radius: 6px;
            box-shadow: var(--primary-boxshadow);
            font-size: 12px;
            font-weight: 500;
            padding: 20px;
            color: #e7131a;
          }
          .query__save_container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 6px;
            box-shadow: var(--primary-boxshadow);
            font-size: 12px;
            font-weight: 500;
            padding: 20px;
            color: #e7131a;

            input {
              border: none;
              outline: none;
              padding: 10px;
              background: transparent;
              font-size: 18px;
              flex: 1;
              color: var(--primary-color-1);
              cursor: pointer;
              border-bottom: 1px solid var(--primary-background-1);
            }
          }

          .saved__queries__container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
            align-items: center;
            width: 100%;

            .saved_query__container {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              padding: 10px 20px;
              box-shadow: var(--primary-boxshadow);
              border-radius: 6px;
              span {
                font-size: 18px;
                font-weight: 500;
                color: var(--primary-color-1);
                flex: 1;
              }
            }
          }
        }
      }

      .chart__container {
        padding: 20px;
      }
    }
  }
}

:host ::ng-deep .highcharts-background {
  fill: var(--primary-background-3) !important;
  border-radius: 20px;
  box-shadow: var(--primary-boxshadow);
}
